.List {
    --list-height: 88px;
    background-color: #010d1e;
    color: #cacaca;
    height: var(--list-height);
    margin-bottom: 8px;
    max-width: 380px;
    padding: 8px 0 8px 8px;
    position: relative;
  }
  
  .List__delete {
    --list-button-height: 32px;
    background-color: #041a3a;
    border: 0;
    color: #bdbcbc;
    float: right;
    font-size: 12px;
    height: var(--list-button-height);
    position: relative;
    top: calc((var(--list-button-height) + 32px) * -1);
    transform-origin: right bottom;
    transform: rotate(-90deg);
    width: calc(var(--list-height));
  }
  .List__delete:hover {
    background-color: #bd0909;
    color: white;
    cursor: pointer;
    font-weight: bold;
  }
  
  .List__title {
    font-family: var(--custom-font);
    font-size: 20px;
    margin: 0;
    max-width: 80%;
    min-height: 24px;
  }
  .List__title a {
    color: #cacaca;
    display: block;
    text-decoration: none;
  }
  .List__title a:hover {
    color: #FFB72F;
  }
  
  .List__dates {
    bottom: 8px;
    color: #a7a5a5;
    font-size: 14px;
    position: absolute;
  }
  